pkgbase = libzypp
	pkgdesc = ZYpp Package Management library
	pkgver = 17.35.11
	pkgrel = 1
	url = https://en.opensuse.org/Portal:Libzypp
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = boost-libs
	makedepends = gpgme
	makedepends = libproxy
	makedepends = libsigc++
	makedepends = libsolv
	makedepends = libsystemd
	makedepends = libxml2
	makedepends = protobuf
	makedepends = yaml-cpp
	makedepends = asciidoc
	makedepends = boost
	makedepends = cmake
	makedepends = dejagnu
	makedepends = doxygen
	makedepends = expat
	makedepends = git
	makedepends = gnupg
	makedepends = graphviz
	makedepends = cppcheck
	makedepends = zchunk
	source = libzypp-17.35.11.tgz::https://github.com/openSUSE/libzypp/archive/17.35.11.tar.gz
	sha256sums = 683bcb7398ac4df4a682e7f1c2b3807a3638a400eb631de3f51d1d1947cc9be7

pkgname = libzypp
	depends = boost-libs
	depends = gpgme
	depends = libproxy
	depends = libsigc++
	depends = libsolv
	depends = libsystemd
	depends = libxml2
	depends = protobuf
	depends = yaml-cpp
	depends = zchunk

pkgname = libzypp-doc
	arch = any
